[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[scripts]
dev = "pipenv run python pathshare_api/main.py"
test = "pipenv run pytest -s --show-progress --cov=./"

[packages]
aiohttp = "*"
dnspython = "*"
aiohttp-devtools = "*"
motor = "*"
pymongo = {extras = ["tls"], version = "*"}
marshmallow = "*"

[dev-packages]
pytest = "*"
pytest-aiohttp = "*"
coveralls = "*"
pytest-cov = "*"
pytest-progress = "*"

[requires]
python_version = "3.6"
