

<div style="padding-left: 260px;padding-top: 20px">
<div style="border-style: solid; color:lightgray;border-width: 4px;border-radius: 15px;width: 950px">
  <h3 style="text-align: center; background:lightgray; color: black;border-top-right-radius: 5px;border-top-left-radius: 5px"> My Profile </h3>
  <div>

    <!-- <div>
      <img src="assets/img/nicegirl.png" alt="Hilary" class="rounded-circle" style="width:400px;height:400px;float: left;">
    </div> -->
    <div style="padding-top: 30px"></div>
    <img src="assets/img/nicegirl.png" alt="Hilary" class="rounded-circle" style="width:300px;height:300px;margin-left: 80px;float: left; border: solid;color: white;border-width: 2px">
    <div style="text-align: center; margin-bottom: 40px">
       
            <!-- <img src="assets/img/nicegirl.png" alt="Hilary" class="rounded-circle" style="width:300px;height:300px;float: left;"> -->
        
      <div style="color: white; font-size: 45px" > {{name}}</div>
      <div class="infoText">
          <div> Hilary Climin</div>
          <div> School: Texas Tech University</div>
          <div>Major: Political Science</div>
          <div>Joined on March 2018</div>
          <div> Age: 21 years</div>
          <div>About me: </div>
          <div> I am a political science student at TTU. And</div>
          <div> eventually I want to become a lawyer here.</div>
         
      </div>
 
    </div>
  </div>
  <div style="padding-left: 830px; margin-bottom: 10px">
      <form>
          <!-- <button type="submit" class="btn btn-primary" (click)="searchRides()">Edit Page</button> -->
          <button class="btn btn-primary">Edit Page</button>
      </form>
  </div>
 
</div>
 
 
 
 </div>
  




