

<div style="padding-left: 260px;padding-top: 20px">
<div style="border-style: solid; color:lightgray;border-width: 4px;border-radius: 15px;width: 950px">
  <h3 style="text-align: center; background:lightgray; color: black;border-top-right-radius: 5px;border-top-left-radius: 5px"> My Profile </h3>
  <div>

    <!-- <div>
      <img src="assets/img/nicegirl.png" alt="Hilary" class="rounded-circle" style="width:400px;height:400px;float: left;">
    </div> -->
    <div style="padding-top: 30px"></div>
    <img src="assets/img/nicegirl.png" alt="Hilary" class="rounded-circle" style="width:300px;height:300px;margin-left: 80px;float: left; border: solid;color: white;border-width: 2px">
    <div style="text-align: center; margin-bottom: 40px">
       
            <!-- <img src="assets/img/nicegirl.png" alt="Hilary" class="rounded-circle" style="width:300px;height:300px;float: left;"> -->
        
      <div style="color: white; font-size: 45px" > Hilary Climin</div>
      <div style="color: white; font-size: 20px"> School: Texas Tech University</div>
      <div style="color: white;font-size: 20px" >Major: Political Science</div>
      <div style="color: white;font-size: 20px" >Joined on March 2018</div>
      <div style="color: white;font-size: 20px"> Age: 21 years</div>
      <div style="color: white;font-size: 20px" >About me: </div>
      <div style="color: white;font-size: 20px"> I am a political science student at TTU. And</div>
      <div style="color: white;font-size: 20px"> eventually I want to become a lawyer here.</div>
     
      
    </div>
  </div>
  <div style="padding-left: 830px; margin-bottom: 10px">
      <form>
          <button type="submit" class="btn btn-primary" (click)="searchRides()">Edit Page</button>
      </form>
  </div>
 
</div>
 
 
 
 </div>
  




