<div class="container">
    <form class="form-inline">
        <h3>Find trips from</h3>
        <div class="form-group mx-sm-3 mb-2">
          <label for="inputStart" class="sr-only">Start</label>
          <input type="text" class="form-control" id="inputStart" placeholder="Start">
        </div>
        <h3>to</h3>
        <div class="form-group mx-sm-3 mb-2">
            <label for="inputDest" class="sr-only">Destination</label>
            <input type="text" class="form-control" id="inputDest" placeholder="Destination">
        </div>
        <h3>leaving on</h3>
        <div class="form-group mx-sm-3 mb-2">
            <label for="inputDate" class="sr-only">Date</label>
            <input type="text" class="form-control" id="inputDate" placeholder="Date">
          </div>
          <h3>:</h3>
        <button type="submit" class="btn btn-primary mb-2">Search</button>
      </form>
</div>