<div class="container">
    <form class="form-inline" [formGroup]="searchForm">
        <h3>Find trips from</h3>
        <div class="form-group mx-sm-3 mb-2">
          <label for="inputStart" class="sr-only">Start</label>
          <input type="text" class="form-control" id="inputStart" placeholder="Start" formControlName="startLocation">
        </div>
        <h3>to</h3>
        <div class="form-group mx-sm-3 mb-2">
            <label for="inputDest" class="sr-only">Destination</label>
            <input type="text" class="form-control" id="inputDest" placeholder="Destination" formControlName="endLocation">
        </div>
        <h3>leaving on</h3>
        <div class="form-group mx-sm-3 mb-2">
            <label for="inputDate" class="sr-only">Date</label>
            <input type="date" class="form-control" id="inputDate" placeholder="Date" formControlName="startDate">
        </div>
        <h3>:</h3>
      </form>

      <div class="map-container">
        <img src="assets/img/map.svg" alt="Map of the United States">

        <svg *ngFor="let point of allTripPoints" 
        [ngStyle]="{'left':coordinateToPosition(point.latitude, point.longitude)['x'],
                    'top':coordinateToPosition(point.latitude, point.longitude)['y']}">
            <circle cx="5" cy="5" r="4" stroke="white" stroke-width="2" fill="#9e9e9e"/>
        </svg>
      </div>

      <form id="search" [formGroup]="searchForm">
          <button type="submit" class="btn btn-primary" (click)="searchRides()">See listings</button>
      </form>
</div>