<div class="container">
  <h3 id="header">
    Showing trips from {{parameters['start']}} to {{parameters['end']}} starting on {{getFormattedDate(parameters['date'])}}:
  </h3>

  <div class="row justify-content-center">
    <div class="card bg-dark text-white" *ngFor="let ride of rides">
        <div class="card-body">
          <h5 class="card-title">Riding with {{ride.riders[0].name}}, {{ride.riders[0].age}}</h5>
          <h6 class="card-subtitle mb-2 text-muted">${{ride.seatPrice}} per seat – {{ride.riders.length}} rider(s)</h6>
          <a href="#" class="card-link float-right">See details</a>
        </div>
    </div>
    </div>
</div>
