<nav class="navbar navbar-dark navbar-expand-md bg-dark justify-content-center">
    <a href="#" class="navbar-brand mr-0">Pathshare</a> 
    <div class="navbar-collapse collapse justify-content-between align-items-center w-100">
        <ul class="navbar-nav mx-auto text-center">

        </ul>
        <ul class="nav navbar-nav flex-row justify-content-center flex-nowrap">
            <li class="nav-item"><a class="nav-link" href=""><i class="fas fa-plus-circle"></i></a> </li>
            <li class="nav-item"><a class="nav-link" href=""><i class="fas fa-comment-alt"></i></a> </li>
            <li class="nav-item"><a class="nav-link" href=""><i class="fas fa-user-circle" id="user-profile"></i></a> </li>
        </ul>
    </div>
</nav>