<ng-template #content let-modal>

  <div class="modal-header">
    <h4 class="modal-title">Start Your Trip Here</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <form (ngSubmit)="onSignin(userForm)" #userForm="ngForm">

    <div class="modal-body">
        <input matInput type="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" #emailRef="ngModel" required id="email" name="email" ngModel class="form-control" floatPlaceholder="always" placeholder="Email">
        <div *ngIf="emailRef.errors && (emailRef.dirty || emailRef.touched)" class="alert alert-danger">
            <div [hidden]="!emailRef.errors.required">
                please enter your email
            </div>
            <div [hidden]="!emailRef.errors.pattern">
                Please enter email address<p class="alert alert-danger">i.e. myname@college.edu</p>
            </div>
          </div>

          <div style="margin-bottom: 15px"></div>

        <input matInput type="password" #passwordRef="ngModel" required id="password" name="password" ngModel class="form-control"  placeholder="Password">
        <div *ngIf="passwordRef.errors && (passwordRef.dirty || passwordRef.touched)" class="alert alert-danger">
            <div [hidden]="!passwordRef.errors.required">
                please enter a password
            </div>
          </div>
    </div>

    <div class="modal-footer">
        <button style="align-content: center; padding-top: 10px" type="submit" class="btn btn-primary" [disabled]="!userForm.valid"> Login</button>
        <button style="align-content: center; padding-top: 10px" type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
    </div>
  </form>
  
    <!-- <div style="padding-left: 360px">
          <label class="clickableLab">Forgot password</label>
    </div> -->

    <div style="padding-left: 255px; padding-bottom:10px">
      <label>Don't have an account? <a routerLink="/signup"><label class="clickableLab" (click)="modal.close('Close click')"><b>Sign up</b></label></a></label>
    </div>

</ng-template>

<button class="btn btn-outline-primary mb-2 mr-2"  (click)="openWindowCustomClass(content)">Log In</button>

